body {
    /* width: 100%; */
    /* overflow: hidden; */
    background: black;
    color: aliceblue;
}

/*banner image*/
.img-container {
    /* background-image: url(https://www.stripes.com/polopoly_fs/1.492066.1507750271!/image/image.jpg_gen/derivatives/landscape_900/image.jpg); */
    /* height: 20%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative; */

}

/*banner name*/
/* .inner-container { */
/* text-align: center;
    width: 100%;
    color: green;
    height: auto; */
/* margin-top: 120px; */

/* } */

/* menu .menu {
    height: 100%;
} */

/*mission*/
/* .welcome { */
/* top: 300px; */
/* margin-top: 700px; */
/* left: 300px; */
/* text-align: center; */
/* } */

#header {
    font-size: 5em;
}

#main {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #header {
        font-size: 2em;
    }
}