body {
    background: black;
    color: aliceblue;
}

#header {
    font-size: 5em;
}

#main {
    text-align: center;
}
#social {
    color: white;
    text-align: right;
}  
#contact {
    text-align: center;
} 
#form{
    text-align: center;
}
#submit {
    text-align: center;
}
#comments {
    text-align: center;
    width:40em;
}
/* css for universities page*/
#cards {
    color: black;
    text-align: center;
}
#search{
    text-align: center;
}


@media only screen and (max-width: 600px) {
    #header {
        font-size: 2em;
    } 
}